---
pagination:
  data: pages
  size: 1
  alias: wpPage
permalink: /{{ wpPage.slug }}/
layout: base.njk
title: "{{ wpPage.title.rendered | decodeHtml }}"
---
<div class="w-[80%] lg:w-[55%] mx-auto px-4">
  <article class="prose prose-gray max-w-none">
    <h1>{{ wpPage.title.rendered | decodeHtml }}</h1>
    {{ wpPage.content.rendered | rewriteInternalLinks | safe }}
  </article>
</div>
